* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    font-size: 20px;
    line-height: 1.5;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #333;
}

/* Header styles */
.header {
    font-family: sans-serif;
    font-size: 24px;
    padding: 10px 20px;
    height: 10%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    position: relative;
}

.log_out_button {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    padding: 5px 10px;
    font-size: 30px;
    border: 1px solid black;
    border-top: none;
    transition: 0.3s ease-in;
    box-shadow: 0 2px 4px gray;
    background: none;
}

.log_out_button:hover {
    background: #a90914;
    color: white;
    box-shadow: 0 2px 4px #670c0c;
}

.nav {
    height: 100%;
}

.nav_list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}


.nav_list_item {
    margin-inline: 10px;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: fit-content;
    display: flex;
    align-items: center;
}

.nav_list_item:hover {
    border: 1px solid black;
    background-color: #5287d3;
}

.nav_list_item_link {
    transition: 0.3s color;
}

.nav_list_item:hover .nav_list_item_link {
    color: white;
}

.nav_list_item:active {
    background-color: #166ea1;
}

.nav_list_item_link {
    font-weight: bold;
    font-size: 2rem;
}

.header_title {
    color: black;
}

.liked_title {
    text-align: center;
    position: relative;
    font-size: 60px;
}

.liked_title:before {
    content: '';
    position: absolute;
    height: 2px;
    width: 80%;
    top: 100%;
    background: black;
    left: 50%;
    transform: translateX(-50%);
}
main {
    margin: 80px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.liked_books_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.book_card {
    margin: 10px;
    padding: 10px;
    font-size: 50px;
    background-color: #76b0e0;
    border: 1px solid #a2c7ec;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 50%;
    box-shadow: 1px 1px 5px #15125d;
}

.book_card_text_container {
    background: whitesmoke;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 10px;
    font-size: 50%;
}

.book_card_image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.book_card_title {
    margin-bottom: 10px;
    margin-inline: auto;
    font-size: 100%;
    word-wrap: break-word;
    word-break: break-word;
}

.book_card_time_info {
    width: 100%;
    border-top: 1px solid gray;
}

.controls_container {
    height: fit-content;
    margin-block: 10px;
    display: flex;
    text-align: center;
}

.fa-heart {
    width: 100%;
    border: 3px solid transparent;
    border-radius: 5px;
    color: #76b0e0;
    padding: 5px;
    background: white;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.checked {
    color: red;
    background: none;
    border: 3px solid white;
}

.create_new_post_btn {
    margin-inline: auto;
    background: none;
    border: 1px solid transparent;
    padding: 5px 10px;
    color: black;
    cursor: pointer;
    font-size: 30px;
    transition: 0.3s;
    margin-bottom: 15px;
}

.create_new_post_btn:hover {
    border: 1px solid black;
    color: white;
    background: #5287D3FF;
}

.create_new_post_btn:active {
    background-color: #166ea1;
}